<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ronakmanglani.bookworm">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Set screen size support -->
    <supports-screens
        android:largeScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".BookWormApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.BookActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activity.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.activity.BarcodeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.activity.SettingsActivity"
            android:label="@string/pref_title"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.nononsenseapps.filepicker.FilePickerActivity"
            android:label="@string/app_name"
            android:theme="@style/FilePickerTheme">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Content Provider -->
        <provider
            android:name="com.ronakmanglani.bookworm.data.generated.BookProvider"
            android:authorities="com.ronakmanglani.bookworm.data.BookProvider"
            android:exported="false" />

    </application>

</manifest>